body {
    max-width: 1400px;
}

.banner {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/header_background.png") no-repeat;
    background: -moz-linear-gradient(top, rgba(252,227,138,0.3) 0%, rgba(252,227,138,0.5) 51%, rgba(252,227,138,1) 100%), url("../img/header_background.png") no-repeat;
    background: -webkit-linear-gradient(top, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/header_background.png") no-repeat;
    background-size: 100% 100%;
}

.navbar {
    border: 0px solid transparent;
}

.navbar-default {
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fce38a;
}

.navbar > .container .navbar-brand {
    margin-left: 130px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding-bottom: 7px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fce38a;
    border-bottom: 2px solid #fce38a;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
    color: #fce38a;
    background-color: transparent;
    border-bottom: 2px solid #fce38a;
}

h1.creative {
    color: #fff;
    font-size: 50px;
    padding-top: 20px;
    font-family: 'Merienda', cursive;
}

h1.welcome {
    color: #fff;
    font-size: 70px;
}

.line {
    width: 30px;
    height: 3px;
    background: #fff;
    border: 0px;
}

.btn-learn-more {
    color: #fff;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 80px;
    border: 2px solid #fff;
    border-radius: 0px;
}

.btn-learn-more:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
}

.progress {
    height: 1px;
}

.progress-bar {
    width: 0%;
    height: 1px;
    background-color: #f38181;
}

.progress-bar-caption {
    color: white;
}