body {
    max-width: 1600px;
}

.banner {
    width: 100%;
    height: 100%;
}

.slide_1 {
    background: linear-gradient(to bottom, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_1.png") center/cover no-repeat;
    background: -moz-linear-gradient(top, rgba(252,227,138,0.3) 0%, rgba(252,227,138,0.5) 51%, rgba(252,227,138,1) 100%), url("../img/slide_1.png") center/cover no-repeat;
    background: -webkit-linear-gradient(top, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_1.png") center/cover no-repeat;
}

.slide_2 {
    background: linear-gradient(to bottom, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_2.jpg") center/cover no-repeat;
    background: -moz-linear-gradient(top, rgba(252,227,138,0.3) 0%, rgba(252,227,138,0.5) 51%, rgba(252,227,138,1) 100%), url("../img/slide_2.jpg") center/cover no-repeat;
    background: -webkit-linear-gradient(top, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_2.jpg") center/cover no-repeat;
}

.slide_3 {
    background: linear-gradient(to bottom, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_3.jpg") center/cover no-repeat;
    background: -moz-linear-gradient(top, rgba(252,227,138,0.3) 0%, rgba(252,227,138,0.5) 51%, rgba(252,227,138,1) 100%), url("../img/slide_3.jpg") center/cover no-repeat;
    background: -webkit-linear-gradient(top, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_3.jpg") center/cover no-repeat;
}

.slide_4 {
    background: linear-gradient(to bottom, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_4.jpg") center/cover no-repeat;
    background: -moz-linear-gradient(top, rgba(252,227,138,0.3) 0%, rgba(252,227,138,0.5) 51%, rgba(252,227,138,1) 100%), url("../img/slide_4.jpg") center/cover no-repeat;
    background: -webkit-linear-gradient(top, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_4.jpg") center/cover no-repeat;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.navbar {
    border: 0px solid transparent;
}

.navbar-default {
    background-color: transparent;
}

.navbar-default .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fce38a;
}

.navbar > .container .navbar-brand {
    margin-left: 130px;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
    padding-bottom: 7px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fce38a;
    border-bottom: 2px solid #fce38a;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fce38a;
    background-color: transparent;
    border-bottom: 2px solid #fce38a;
}

h1.creative {
    color: #fff;
    font-size: 47px;
    padding-top: 20px;
    font-family: 'Kaushan Script', cursive;
}

h1.welcome {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 100px;
    padding-left: 17px;
}

.line {
    width: 30px;
    height: 3px;
    background: #fff;
    border: 0px;
}

.btn-learn-more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 80px;
    border: 2px solid #fff;
    border-radius: 0px;
}

.btn-learn-more:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
}

.progress-bars-row {
    margin-bottom: 20px;
}

.progress {
    height: 1px;
}

.progress-bar {
    height: 1px;
    background-color: #f38181;
}

.progress-bar-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}

#searchForm {
    display: none;
}

.form-control {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.form-control:focus {
    border-color: #fce38a;    
}

/* .form-control placeholder */
.form-control::-webkit-input-placeholder { color: #fff; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 9px; } /* Webkit, Blink, Edge */
.form-control:-moz-placeholder { color: #fff; opacity: 1; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 9px; } /* Firefox 4-18 */
.form-control::-moz-placeholder { color: #fff; opacity: 1; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 9px; } /* Firefox 19+ */
.form-control:-ms-input-placeholder { color: #fff; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 9px; } /* IE 10-11 */
.form-control::-ms-input-placeholder { color: #fff; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 9px; } /* Edge */

#btn-find {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
    text-decoration: none;
}

#btn-find:hover {
    color: #fce38a;
    border-bottom: 2px solid #fce38a;
}


@media (min-width: 768px){
    .navbar>.container .navbar-brand {
        margin-left: 1px;
    }
}

@media  (max-width: 767px) {
    #searchBtn {
        display: none;
    }
}