body {
    max-width: 1600px;
}

/* Section banner */

.banner {
    width: 100%;
    height: 100%;
}

.slide_1 {
    background: linear-gradient(to bottom, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_1.png") center/cover no-repeat;
    background: -moz-linear-gradient(top, rgba(252,227,138,0.3) 0%, rgba(252,227,138,0.5) 51%, rgba(252,227,138,1) 100%), url("../img/slide_1.png") center/cover no-repeat;
    background: -webkit-linear-gradient(top, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_1.png") center/cover no-repeat;
}

.slide_2 {
    background: linear-gradient(to bottom, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_2.jpg") center/cover no-repeat;
    background: -moz-linear-gradient(top, rgba(252,227,138,0.3) 0%, rgba(252,227,138,0.5) 51%, rgba(252,227,138,1) 100%), url("../img/slide_2.jpg") center/cover no-repeat;
    background: -webkit-linear-gradient(top, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_2.jpg") center/cover no-repeat;
}

.slide_3 {
    background: linear-gradient(to bottom, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_3.jpg") center/cover no-repeat;
    background: -moz-linear-gradient(top, rgba(252,227,138,0.3) 0%, rgba(252,227,138,0.5) 51%, rgba(252,227,138,1) 100%), url("../img/slide_3.jpg") center/cover no-repeat;
    background: -webkit-linear-gradient(top, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_3.jpg") center/cover no-repeat;
}

.slide_4 {
    background: linear-gradient(to bottom, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_4.jpg") center/cover no-repeat;
    background: -moz-linear-gradient(top, rgba(252,227,138,0.3) 0%, rgba(252,227,138,0.5) 51%, rgba(252,227,138,1) 100%), url("../img/slide_4.jpg") center/cover no-repeat;
    background: -webkit-linear-gradient(top, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%), url("../img/slide_4.jpg") center/cover no-repeat;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.navbar {
    border: 0px solid transparent;
}

.navbar-default {
    background-color: transparent;
}

.navbar-default .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fce38a;
}

.navbar > .container .navbar-brand {
    margin-left: 130px;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
    padding-bottom: 7px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fce38a;
    border-bottom: 2px solid #fce38a;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fce38a;
    background-color: transparent;
    border-bottom: 2px solid #fce38a;
}

h1.creative {
    color: #fff;
    font-size: 47px;
    padding-top: 20px;
    font-family: 'Kaushan Script', cursive;
}

h1.welcome {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 100px;
    padding-left: 17px;
}

.line {
    width: 30px;
    height: 3px;
    background: #fff;
    border: 0px;
}

.btn-learn-more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 80px;
    border: 2px solid #fff;
    border-radius: 0px;
}

.btn-learn-more:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
}

.progress-bars-row {
    margin-bottom: 20px;
}

.progress {
    height: 1px;
}

.progress-bar {
    height: 1px;
    background-color: #f38181;
}

.progress-bar-caption {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}

#searchForm {
    display: none;
}

.form-control {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.form-control:focus {
    border-color: #fce38a;    
}

/* .form-control placeholder */
.form-control::-webkit-input-placeholder { color: #fff; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 9px; } /* Webkit, Blink, Edge */
.form-control:-moz-placeholder { color: #fff; opacity: 1; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 9px; } /* Firefox 4-18 */
.form-control::-moz-placeholder { color: #fff; opacity: 1; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 9px; } /* Firefox 19+ */
.form-control:-ms-input-placeholder { color: #fff; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 9px; } /* IE 10-11 */
.form-control::-ms-input-placeholder { color: #fff; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 9px; } /* Edge */

#btn-find {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: #fff;
    text-decoration: none;
}

#btn-find:hover {
    color: #fce38a;
    border-bottom: 2px solid #fce38a;
}

/*******************/

/* Section aboutUs */

.section-header-text-one {
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    color: #333;
    margin: 0;
    margin-top: 90px;
    margin-bottom: 23px;
}

.section-header-text-two {
    margin: 0;
    margin-top: 23px
    margin-bottom: 39px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.line.black {
    background: #000;
    margin: 0 auto;
    margin-top: 39px;
    margin-bottom: 46px;
}

.aboutus-text {
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #999;   
}

.aboutus-pic .container-photo {
    position: relative;
    display: inline-block;
    margin-bottom: 108px;
}

.aboutus-pic .container-photo:nth-child(2) {
    margin-left: 28px;
    margin-right: 28px;
}

.aboutus-pic .image {
    display: block;
    width: 100%;
    height: auto;
}

.aboutus-pic .photo-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background: linear-gradient(to bottom, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%) no-repeat;
    background: -moz-linear-gradient(top, rgba(252,227,138,0.3) 0%, rgba(252,227,138,0.5) 51%, rgba(252,227,138,1) 100%) no-repeat;
    background: -webkit-linear-gradient(top, rgba(252,227,138,0.3) 0%,rgba(252,227,138,0.5) 51%,rgba(252,227,138,1) 100%) no-repeat;
}

.aboutus-pic .container-photo:hover .photo-caption {
    opacity: 1;
    
    -webkit-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
    box-shadow: 10px 10px 0px 0px rgba(149,225,211,1);
}

.aboutus-pic .photo-caption-content {
    width: 161px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
}
/*******************/
/* Section facts */
.facts {
    display: flex;
    justify-content: center;
    height: 272px;
    background-color: #95e1d3;
}

.vertical-line {
    width: 4px;
    height: 100%;
    background-color: #b5eae0;
}

.facts-center {
    display: flex;
    width: 83%;
    height: 100%;
    align-items: center;
}

.facts-content {
    margin: 0 auto;
    text-align: center;
}

.facts-numbers {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 96px;
    color: #fff;
}

.facts-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin: 0;
}
/*******************/
/* Section service */
.line.service-line {
    width: 100%;
    height: 4px;
    background-color: #e5e5e5;
}

.service-element {
    position: relative;
    margin-bottom: 49px;
    margin-top: 47px;
}

.service-element img {
    position: absolute;
    top: 0;
    left: 0;
}

.service-element-header {
    margin-left: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
    text-align: left;
}

.service-element-text {
    margin-left: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #999;
    text-align: left;
}
/*******************/

@media (min-width: 768px){
    .navbar>.container .navbar-brand {
        margin-left: 1px;
    }
}

@media  (max-width: 767px) {
    #searchBtn {
        display: none;
    }
}

@media (max-width: 1263px) {
    .aboutus-pic .container-photo {
        margin-bottom: 28px;
    }
}

@media (max-width: 1003px) {
    .facts-text {
        font-size: 13px;
    }
}

@media (max-width: 853px) {
    .facts-text {
        font-size: 9px;
    }
}

@media (max-width: 719px) {
    .facts-text {
        font-size: 8px;
    }
}

@media (max-width: 781px) {
    .facts-numbers {
        font-size: 86px;
    }
}