header {
	background: url("../img/header_bg.png") no-repeat;
}

.logo {
	float: left;
	margin-top: 36px;
	margin-left: 213px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-left: 800px;
	padding-top: 38px;
}

nav ul li {
	display: inline;
}

nav ul li a {
	padding: 14px 10px;
	text-decoration: none;
	font-family: 'PT Serif', serif;
	font-size: 14pt;
	color: rgba(255,255,255,255);
	text-align: right;
}

.header_title {
	width: 30%;
	margin: 0;
	margin-left: 215px;
	margin-top: 160px;
	font-family: 'Poppins', sans-serif;
	font-size: 35pt;
	color: rgba(255,255,255,255);
	text-align: left;
	text-transform: uppercase;
}

.header_subtitle {
	width: 32%;
	margin: 0;
	margin-left: 215px;
	font-family: 'PT Serif', serif;
	font-size: 10pt;
	color: rgba(255,255,255,255);
	text-align: left;
	padding-bottom: 160px;
}

.about {
	background: url("../img/top_shape.png") no-repeat;
}

.about_text {
	float: left;
	margin-left: 215px;
}

.about_text_header_title {
	font-family: 'Poppins', sans-serif;
	width: 327px;
	margin-top: 0;
	padding-top: 180px;
	font-size: 20pt;
	color: #333333;
}

.about_text_header_title_color {
	color: #66a900;
}

.about_text_header_title_number {
	font-family: 'PT Serif', serif;
	font-size: 35pt;
	color: #e8e8e8;
	padding-bottom: 0;
	margin-left: 0;
}

.about_text_text {
	font-family: 'PT Serif', serif;
	width: 550px;
	color: #aeaeae;
	margin-top: 58px;
	font-size: 10pt;
	padding-bottom: 0;
}

.about_text_text:last-child {
	margin-top: 35px;
	font-size: 10pt;
}

.about_img {
	padding-top: 165px;
}

.about_text_2 {
	float: right;
	margin-right: 225px;
}

.about_text_2 .about_text_header_title {
	padding-top: 0;
}

.about_text_2 .about_text_text {
	width: 526px;
}

.about_text_2 ol {
	font-family: 'Poppins', sans-serif;
	font-size: 10pt;
	color: #999;
	text-align: left;
	list-style: none;
	padding-left: 0;
}

.about_text_2 ol li:first-child {
	margin-bottom: 50px;
}

.about_text_2 ol li {
	margin-top: 30px;
}

.about_text_2 ol span.about_text_header_title_number {
	font-family: 'PT Serif', serif;
	font-size: 12pt;
	color: #fff;
	text-align: center;
	background-color: #66a900;
	padding: 15px 22px;
	border-radius: 200px;
}

.number_border {
	background-color: #fff;
	border: 2px solid #66a900;
	border-radius: 200px;
	padding: 21px 3px;
	padding-bottom: 19px;
	margin-right: 17px;
}